<p-card header="Dodanie nowej usługi">
    <form [formGroup]="nowaUslugaForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-2">
                <label for="dataPrzyjeciaZalecenia">Data przyjęcia zlecenia</label>
                <p-calendar formControlName="dataPrzyjeciaZalecenia" [showIcon]="true" [locale]="pl" [dateFormat]="null" inputId="dataPrzyjeciaZalecenia">
                </p-calendar>
            </div>
        </div>
        <button *ngIf="!klient" pButton type="button" icon="pi pi-users" class="p-mb-3" label="Wybierz klienta" (click)="wybierzKlientaOnClick()"></button>
        <p-card *ngIf="!!klient" [header]="nazwaKlienta" subheader="{{tekstIdentyfikacyjnyKlienta}}" [style]="{width: '400px', backgroundColor: 'rgb(32 38 46)'}"
            class="p-card-shadow">

            Adres: {{klient.ulica}} {{klient.numerDomu}}{{klient.numerLokalu ? '/' + klient.numerLokalu : null}},
            {{klient.kodPocztowy}} {{klient.miejscowosc}}<br />
            Email: {{klient.email ? klient.email : 'brak'}}<br />
            Numer telefonu: {{ klient.numerTelefonu ? klient.numerTelefonu : 'brak' }}

            <ng-template pTemplate="footer">
                <p-button label="Zmień klienta" icon="pi pi-user-edit" (click)="wybierzKlientaOnClick()"></p-button>
            </ng-template>
        </p-card>
        <button *ngIf="!!klient" pButton type="button" icon="pi pi-star-o" class="p-mt-3" label="Dodaj misje" (click)="dodajMisjeOnClick()"></button>
    </form>
</p-card>