<form [formGroup]="nowaMisjaForm">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3">
            <label for="nazwa">Nazwa</label>
            <input formControlName="nazwa" id="nazwa" type="text" pInputText>
        </div>
        <div class="p-field p-col-2">
            <label for="dataRozpoczecia">Data rozpoczecia</label>
            <p-calendar formControlName="dataRozpoczecia" [maxDate]="nowaMisjaForm.value.dataZakonczenia" [locale]="pl" [dateFormat]="null" appendTo="body" [showTime]="true" [showIcon]="true" inputId="dataRozpoczecia">
            </p-calendar>
        </div>
        <div class="p-field p-col-2">
            <label for="dataZakonczenia">Data zakończenia</label>
            <p-calendar formControlName="dataZakonczenia" [minDate]="nowaMisjaForm.value.dataRozpoczecia" [locale]="pl" [dateFormat]="null" appendTo="body" [showTime]="true" [showIcon]="true" inputId="dataZakonczenia">
            </p-calendar>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-2">
            <label for="typ">Typ</label>
            <p-dropdown formControlName="typ" id="typ" [options]="typyMisji" [showClear]="true" [autoDisplayFirst]="false" placeholder="Wybierz typ">
            </p-dropdown>
        </div>
        <div class="p-field p-col-2">
            <label for="status">Status</label>
            <input formControlName="status" id="status" type="text" pInputText>
            <input formControlName="statusId" type="text" hidden>
        </div>
        <div class="p-field p-col-3">
            <label for="maksymalnaWysokoscLotu">Maksymalna wysokość lotu</label>
            <p-inputNumber formControlName="maksymalnaWysokoscLotu" min="1" inputId="maksymalnaWysokoscLotu" suffix=" m">
            </p-inputNumber>
        </div>
        <div class="p-field p-col-3">
            <label for="przypisanyPracownik">Przypisany pracownik</label>
            <p-dropdown formControlName="przypisanyPracownik" id="przypisanyPracownik" [options]="pracownicy" [showClear]="true" [autoDisplayFirst]="false" placeholder="Wybierz pracownika">
            </p-dropdown>
        </div>
        <div class="p-field p-col-12">
            <label for="drony">Drony</label>
            <p-multiSelect [options]="drony" formControlName="drony" inputId="drony"></p-multiSelect>
        </div>
        <div class="p-field p-col-12">
            <label for="opis">Opis</label>
            <textarea formControlName="opis" id="opis" rows="4" pInputTextarea></textarea>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-3">
            <label for="szerokoscGeograficzna">Szerokość geograficzna</label>
            <input formControlName="szerokoscGeograficzna" id="szerokoscGeograficzna" type="text" pInputText>
        </div>
        <div class="p-field p-col-3">
            <label for="dlugoscGeograficzna">Długość geograficzna</label>
            <input formControlName="dlugoscGeograficzna" id="dlugoscGeograficzna" type="text" pInputText>
        </div>
        <div class="p-field p-col-2">
            <label for="promien">Promień</label>
            <p-inputNumber formControlName="promien" min="1" inputId="promien" suffix=" m">
            </p-inputNumber>
        </div>
        <div class="p-d-flex p-col-2 p-as-end p-mb-3">
            <button pButton type="button" icon="pi pi-times" label="Wyczyść mapę" (click)="wyczyscMapeOnClick()"></button>
        </div>
    </div>
    <p-gmap [options]="opcjeMapy" [style]="{'width':'100%','height':'400px'}" [overlays]="nakladkiNaMape" (onMapClick)="mapaOnClick($event)"></p-gmap>
</form>
<div class="p-grid p-fluid p-jc-end p-mt-2">
    <div class="p-col-2">
        <button pButton type="button" icon="pi pi-check" [label]="nazwaPrzycisku()" [disabled]="nowaMisjaForm.invalid" (click)="dodajMisjeOnClick()"></button>
    </div>
    <div class="p-col-2">
        <button pButton type="button" icon="pi pi-times" label="Anuluj" (click)="anulujOnClick()"></button>
    </div>
</div>