<p-card header="Lista raportów">
    <div class="p-mb-4">
        <p-fieldset legend="Filtr" [toggleable]="true">
            <form [formGroup]="listaRaportowForm">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-3">
                        <label for="miesiac">Miesiąc</label>
                        <p-calendar formControlName="miesiac" [locale]="pl" dateFormat="mm/yy" [showIcon]="true" appendTo="body" inputId="miesiac" view="month"
                            [yearNavigator]="true" yearRange="2020:2050"></p-calendar>
                    </div>
                    <div class="p-field p-col-3 p-ml-auto p-mt-auto">
                        <button pButton type="button" icon="pi pi-search" label="Wygeneruj raport" (click)="wygenerujRaportOnClick(tableRef)"></button>
                    </div>
                    <div class="p-field p-col-3 p-mt-auto">
                        <button pButton type="button" icon="pi pi-file-excel" label="Pobierz wygenerowany raport" (click)="PobierzWygenerowanyRaportOnClick(tableRef)"></button>
                    </div>
                </div>
            </form>
        </p-fieldset>
    </div>
    <div>
        <p-table #tableRef [columns]="cols" [value]="misje" [lazy]="true" [lazyLoadOnInit]="false" [totalRecords]="liczbaRekordow" [loading]="loading" [scrollable]="true" [responsive]="true"
            scrollHeight="300px" sortField="usluga.dataPrzyjeciaZlecenia" styleClass="p-datatable-striped p-datatable-gridlines" [style]="{width:'1382px'}"
            (onLazyLoad)="pobierzUslugi($event)">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:170px">
                    <col style="width:350px">
                    <col style="width:200px">
                    <col style="width:350px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pSortableColumn={{col.field}}>{{col.header}}<p-sortIcon field={{col.field}}></p-sortIcon></th>
                    <!-- <th pSortableColumn="usluga.statusUslugi.nazwa">Status usługi<p-sortIcon field="usluga.statusUslugi.nazwa"></p-sortIcon></th>
                    <th pSortableColumn="statusMisji.nazwa">Status misji<p-sortIcon field="statusMisji.nazwa"></p-sortIcon></th>
                    <th pSortableColumn="typMisji.nazwa">Typ misji<p-sortIcon field="typMisji.nazwa"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.imie">Imię<p-sortIcon field="usluga.klient.imie"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.nazwisko">Nazwisko<p-sortIcon field="usluga.klient.nazwisko"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.nazwa">Nazwa<p-sortIcon field="usluga.klient.nazwa"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.pesel">PESEL<p-sortIcon field="usluga.klient.pesel"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.regon">REGON<p-sortIcon field="usluga.klient.regon"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.nip">NIP<p-sortIcon field="usluga.klient.nip"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.numerTelefonu">Nr Tel<p-sortIcon field="usluga.klient.numerTelefonu"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.adres">Adres<p-sortIcon field="usluga.klient.adres"></p-sortIcon></th>
                    <th pSortableColumn="usluga.klient.email">Email<p-sortIcon field="usluga.klient.email"></p-sortIcon></th>
                    <th>Użyte drony</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-misja>
                <tr>
                    <td>{{misja.usluga.dataPrzyjeciaZlecenia | dateFormat: 'DD.MM.YYYY'}}</td>
                    <td>{{misja.usluga.statusUslugi.nazwa}}</td>
                    <td>{{misja.statusMisji.nazwa}}</td>
                    <td>{{misja.typMisji.nazwa}}</td>
                    <td>{{misja.usluga.klient.imie}}</td>
                    <td>{{misja.usluga.klient.nazwisko}}</td>
                    <td>{{misja.usluga.klient.nazwa}}</td>
                    <td>{{misja.usluga.klient.pesel}}</td>
                    <td>{{misja.usluga.klient.regon}}</td>
                    <td>{{misja.usluga.klient.nip}}</td>
                    <td>{{misja.usluga.klient.numerTelefonu}}</td>
                    <td>{{adres(misja.usluga.klient)}}</td>
                    <td>{{misja.usluga.klient.email}}</td>
                    <td>{{drony(misja.misjeDrony)}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="9">
                        Brak danych
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-card>