<p-card header="Dodanie nowego drona">
    <form [formGroup]="nowyDronForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-3">
                <label for="producent">Nazwa Producenta</label>
                <input formControlName="producent" id="producent" type="text" pInputText>
            </div>
            <div class="p-field p-col-3">
                <label for="model">Nazwa modelu</label>
                <input formControlName="model" id="model" type="text" pInputText>
            </div>
            <div class="p-field p-col-3">
                <label for="numerSeryjny">Numer seryjny</label>
                <input formControlName="numerSeryjny" id="numerSeryjny" type="text" pInputText>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-4">
                <label for="typ">Typ</label>
                <p-dropdown formControlName="typ" id="typ" [options]="typyDrona" [showClear]="true" [filter]="true" [autoDisplayFirst]="false" required filterBy="label"
                    placeholder="Wybierz typ drona" emptyFilterMessage="Brak wyników.">
                </p-dropdown>
            </div>
            <div class="p-field p-col-4">
                <label for="dataNastepnegoPrzegladu">Data następnego przeglądu</label>
                <p-calendar formControlName="dataNastepnegoPrzegladu" [minDate]="minimalnaData" [locale]="pl" [dateFormat]="null" [showIcon]="true" appendTo="body"
                    inputId="dataNastepnegoPrzegladu">
                </p-calendar>
            </div>
        </div>
        <div class="p-d-flex p-jc-end">
            <div>
                <button pButton type="button" icon="pi pi-check" class="p-ml-auto" label="Zapisz drona" [disabled]="nowyDronForm.invalid" (click)="zapiszDronaOnClick()"></button>
            </div>
        </div>
    </form>
</p-card>