<p-table [value]="klienci" [lazy]="true" [paginator]="true" [rows]="10" [totalRecords]="liczbaRekordow" [loading]="loading" selectionMode="single" (onLazyLoad)="pobierzKlientow($event)" (onRowSelect)="naWybraniuKlienta($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Imie i nazwisko</th>
            <th>PESEL</th>
            <th>NIP</th>
            <th>Adres</th>
            <th>Kraj</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-klient>
        <tr [pSelectableRow]="klient">
            <td>{{klient.imie}} {{klient.nazwisko}}</td>
            <td>{{klient.pesel}}</td>
            <td>{{klient.nip}}</td>
            <td>{{klient.ulica}} {{klient.numerDomu}} {{klient.numerLokalu ? '/' + klient.numerLokalu : null}}, {{klient.kodPocztowy}} {{klient.miejscowosc}}</td>
            <td>{{klient.kraj.nazwaKraju}}</td>
        </tr>
    </ng-template>
</p-table>